
<p>What is your longest word?</p>
<%= @word%>
<h1>******** Now your results *********</h1>
<p>Your word: <%=@word%></p>
<p>Time Taken to answer: <%=(@endtime - @starttime).to_f %></p>
Your score: <%= @score%>
Message: Well Done!